.header {
    color: white;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 36px;
    font-family: 'exo_2.0_thin';
}

@media (max-width: 524px) and (min-width: 481px) {
    .header {
       font-size: 30px;
    }
}

@media (max-width: 480px) {
    .header {
       width: 430px;
       font-size: 30px;
    }
}